*{
    box-sizing: border-box;
    margin: 0 ; padding: 0 ;
}
:root{
    --color_00:#000000;
    --color_01:#012E4A;
    --color_02:#036280;
    --color_03:#378BA4;
    --color_04:#81BECE;
    --color_05:#E8EDE7;
    --color_06:#680003;
    --color_07:#BC0000;
    --color_08:#F5704A;
    --color_09:#EFB9AD;
    --color_10:#828D00;
    --color_11:#1D0F0F;
    --color_12:#453C41;
    --color_13:#7B7C81;
    --color_14:#D4DBE2;
    --color_15:#7B586B;
    --color_16:#F6F2F6;
    --color_17:#E1D5D9;
    --color_18:#B7A7AE;
    --color_19:#58545B;
    --color_20:#1C252C;
    --color_21:#1C252CAA;
    --color_22:#1C252C99;
    --color_23:#010108;
    --color_24:#d50404;
    --color_25:#b18517;
    --color_26:#DAA520;
    --color_27:#f3b6f6;
    --color_28:#6f0875;
    --color_29:#eeeeee;
    --color_30:#333333;
    --color_31:#dddddd;
    --color_32:#FFD700;
    --water_00:#0018e2;
    --water_01:#16c5ff;
    --water_x:#62d8ff;
    --flying_00:#000959;
    --flying_01:#4a5ae7;
    --flying_x:#6e99b5;
    --poison_00:#230059;
    --poison_01:#9760e9;
    --poison_x:#9f4ecb;
    --bug_00:#112f00;
    --bug_01:#3f5631;
    --bug_x:#57f300;
    --steel_00:#0a5b37;
    --steel_01:#507d68;
    --steel_x:#1be78b;
    --fire_00:#4a0b08;
    --fire_01:#655554;
    --fire_x:#e7251b;
    --grass_00:#0a5b0e;      
    --grass_01:#477149;      
    --grass_x:#1be725;      
    --dragon_00:#0d464f;
    --dragon_01:#4a6165;
    --dragon_x:#30c5dd;
    --electric_00:#676d03;
    --electric_01:#828370;
    --electric_x:#edf913;
    --ground_00:#472802;
    --ground_01:#7e7367;
    --ground_x:#e07f06;
    --rock_00:#210b01;
    --rock_01:#724936;
    --rock_x:#802c05;
    --ice_00:#157bf9;
    --ice_01:#a2c5f0;
    --ice_x:#88bcfc;
    --ghost_00:#022349;
    --ghost_01:#4e6e93;
    --ghost_x:#804efb;
    --fighting_00:#952d03;
    --fighting_01:#d17d5c;
    --fighting_x:#fa6428;
    --normal_00:#463128;
    --normal_01:#ceab9b;
    --normal_x:#a77964;
    --psychic_00:#6d003b;
    --psychic_01:#c37aa1;
    --psychic_x:#ff1e98;
    --dark_00:#0a0a0a;
    --dark_01:#7d7979;
    --dark_x:#808080;
    --fairy_00:#280303;
    --fairy_01:#6f3b3b;
    --fairy_x:#a60e0e;
    --color_ic:#336699;
}

.Card_{
    width: 390px ; margin: 0px 0px 40px 0px; min-height: 601px; position: relative;
    border: 18px outset var(--color_26) ; border-radius: 16px ;
    display: flex ; flex-direction: column ; justify-content: space-between ;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) ;
}

.Card_head{
    display: flex ; flex-direction: row ; justify-content: space-between ; padding: 0px 18px 4px 18px;
}
.head_con{
    display: flex ; flex-direction: column ; 
    /* height: 40px; */
}
.type_s{
    text-transform: uppercase;
    background:#4a5ae7;
    padding: 0px 2px; border-radius: 2px;
}
.s_baby{
    background:var(--color_03);
}
.s_myt{
    background:var(--poison_01);
}
.s_leg{
    background:var(--color_08);
}
.head__type{
    font-size: 12px ; font-weight: 600 ; line-height: 2px ; padding-top: 12px ;
}
.head__name{
    font-weight: 700 ;
    text-transform: uppercase;
    padding: 2px 0px ;
}
.head_HP{
    display: flex ; justify-content: center ; align-items: flex-end;
    color: var(--color_24) ; text-shadow: var(--color_00) 1px 1px 2px ;
}
.HP_con{
    display: flex ; flex-direction: row ; align-items: center ;
}
.HP_value{
    margin: 0px 4px ;
}
.HP_icons{
     /* border: 2px solid #000; */
     padding: 4px ; border-radius: 100% ; display: flex ; align-items: center ;
     margin: 2px 2px;
}
.icons_con{
    display: flex ; flex-wrap: wrap ;
    padding: 0px 8px;
}
.small_i{
    font-size: 14px;
}
.water_{
    background: radial-gradient(circle at 10px 4px, var(--water_01), var(--color_00)) ;
}
.flying_{
    background: radial-gradient(circle at 10px 8px, var(--flying_00), var(--color_00)) ;
}
.poison_{
    background: radial-gradient(circle at 10px 8px, var(--poison_00), var(--color_00)) ;
}
.bug_{
    background: radial-gradient(circle at 10px 8px, var(--bug_01), var(--bug_00)) ;
}
.steel_{
    background: radial-gradient(circle at 10px 8px, var(--steel_01), var(--steel_00)) ;
}
.fire_{
    background: radial-gradient(circle at 10px 8px, var(--fire_00), var(--color_00)) ;
}
.grass_{
    background: radial-gradient(circle at 10px 8px, var(--grass_01), var(--color_00)) ;
}
.dragon_{
    background: radial-gradient(circle at 10px 8px, var(--dragon_01), var(--color_00)) ;
}
.electric_{
    background: radial-gradient(circle at 10px 8px, var(--electric_01), var(--color_00)) ;
}
.ground_{
    background: radial-gradient(circle at 10px 8px, var(--ground_00), var(--color_00)) ;
}
.rock_{
    background: radial-gradient(circle at 10px 8px, var(--rock_00), var(--color_00)) ;
}
.ice_{
    background: radial-gradient(circle at 10px 8px, var(--ice_01), var(--color_00)) ;
}
.ghost_{
    background: radial-gradient(circle at 10px 8px, var(--ghost_01), var(--color_00)) ;
}
.fighting_{
    background: radial-gradient(circle at 10px 8px, var(--fighting_01), var(--color_00)) ;
}
.normal_{
    background: radial-gradient(circle at 10px 8px, var(--normal_01), var(--color_00)) ;
}
.psychic_{
    background: radial-gradient(circle at 10px 8px, var(--psychic_01), var(--color_00)) ;
}
.dark_{
    background: radial-gradient(circle at 10px 8px, var(--dark_01), var(--color_00)) ;
}
.fairy_{
    background: radial-gradient(circle at 10px 8px, var(--fairy_01), var(--color_00)) ;
}
.unknownType{
    background: radial-gradient(circle at 10px 8px, var(--color_08), var(--color_07)) ;
}
.water_i{
    color: var(--water_x);
}
.flying_i{
    color: var(--flying_x);
}
.poison_i{
    color: var(--poison_x);
}
.bug_i{
    color: var(--bug_x);
}
.steel_i{
    color: var(--steel_x);
}
.fire_i{
    color: var(--fire_x);
}
.grass_i{
    color: var(--grass_x);
    padding:1px;
    transform: rotate(-40deg);
}
.dragon_i{
    color: var(--dragon_x);
}
.electric_i{
    color: var(--electric_x);
}
.ground_i{
    color: var(--ground_x);
    padding: 1px;
}
.rock_i{
    color: var(--rock_x);
    padding: 1px;
}
.ice_i{
    color: var(--ice_x);
}
.ghost_i{
    color: var(--ghost_x);
}
.fighting_i{
    color: var(--fighting_x);
}
.normal_i{
    color: var(--normal_x);
}
.psychic_i{
    color: var(--psychic_x);
}
.dark_i{
    color: var(--dark_x);
}
.fairy_i{
    color: var(--fairy_x);
}


.Card_img-con{
    margin: 0px 18px ; height: 220px ; 
    /* background: var(--color_ic);  */
    border-radius: 4px;
    display: flex ; align-items: flex-start ;
}
.Card__image{
    width: 100% ; height: 100% ; padding: 10px ; margin: auto ; 
    object-fit: contain ;
    border: 7px solid var(--color_25) ; border-radius: 2px ; border-style: outset ;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
}

.Card_physical{
    font-size: 12px ; font-weight: 700 ; font-style: italic; text-transform: capitalize;
    text-align: center ;
    padding: 4px 2px 1px 2px ; margin: 6px 40px 0px 40px ; 
    background: linear-gradient(90deg, rgba(177,133,23,1) 0%, rgba(255,210,95,1) 50%, rgba(177,133,23,1) 100%);
    display: flex ; flex-direction: row ; align-items: center ; justify-content: center ; 
}
.Card_ability-1{
    display: flex ; flex-direction: row ; justify-content: space-between ;
    padding: 0px 9px ; width: 100% ; margin: 12px 0px 8px 0px ; position: relative;
}
.Card_ability-1::before{
    height: 1px ; content: ''; position: absolute ; top: -1px ; background: var(--color_19) ; width: 94%; left: 3%;
}
.Card_ability-1::after{
    height: 1px ; content: ''; position: absolute ; bottom : -4px ; background: var(--color_19) ; width: 94%; left: 3%; border-radius: 4px;
}
.ability-1_icons{
    display: flex ; flex-direction: row ; justify-content: center ; align-items: center ;
}
.icons_eye{
    /* background: linear-gradient(0deg, rgba(182,62,189,0.7) 56%, rgba(255,255,255,1) 100%); */
    background: radial-gradient(circle at 10px 8px, var(--color_27), var(--color_28)
    );
     padding: 2px 3px ; border-radius: 100% ; display: flex ; align-items: center ;
}
.icons_star{
    background: radial-gradient(circle at 10px 8px, var(--color_29), var(--color_30));
    color: var(--color_20); 
    padding: 4px ; margin: 4px 2px 0px 2px; border-radius: 100% ; 
    display: flex ; align-items: center ; box-shadow: 1px solid var(--color_31); justify-content: center;
}
.ability-1__type{
    font-size: 18px ; font-weight: 700 ; 
}
.ability-1__description{
    font-size: 12px ; font-weight: 400 ; max-width: 80%; display: flex ; justify-content: center ; align-items: center;
}
.ability-1_in-number{
    display: flex ; flex-direction: row ; justify-content: center ; align-items: center ;
    font-size:x-large;
}
.icons_one{
    font-size: 32px ; margin-right: -18px ; padding: 0px ;
}
.icons_zero{
    font-size: 32px ; margin-right: -8px ;
}
.icons_plus{
    font-size: 32px ; font-weight: 600 ; margin-right: 5px ;
}

.Card_ability-2{
    display: flex ; flex-direction: row ; align-items: center ; justify-content: space-between ;
    margin: 0px 9px ; padding: 0px 0px 4px 0px; 
    border-top: 2px outset var(--color_20) ; border-bottom: 2px solid var(--color_20) ;
}
.ability-2_icons{
    display: flex ; flex-direction: row ; align-items: center ;
}
.icons_eye-1{
    background: radial-gradient(circle at 10px 8px, var(--color_27), var(--color_28));
    padding: 2px 3px ; border-radius: 100% ; margin: 0px 8px 0px 6px ; 
    display: flex ; align-items: center ;
}
/* .ability-2_con{
} */
.ability-2__description{
    font-size: 12px ; font-weight: 400 ;
}
.ability-2__type{
    font-size: 18px ; font-weight: 700 ; 
}

.Card_extra{
    display: flex ; flex-direction: column ; 
    margin: 0px 18px ;
}
.extra_con{
    display: flex ; flex-direction: row ; align-items: flex-start ; justify-content: space-between ;
}
.extra_item-1,.extra_item-2,.extra_item-3{
    display: flex ; flex-direction: column ; align-items: flex-start ; justify-content: center ;
}
.extra__weakness, .extra__resistance, .extra__recost{
    font-size: 12px ; font-weight: 700 ; display: flex ; justify-content: center ; width: 100%;
}
.extra__weakness-icons,.extra__resistance-icons,.extra__recost-icons{
    display: flex ; flex-direction: row ; justify-content: center ; align-items: center ; 
    width: 100% ; margin: 2px 0px 0px 0px; 
}
.weakness_icons, .resistance_icons{   
    background: radial-gradient(circle at 10px 8px, var(--color_27), var(--color_28)
    );
    padding: 2px 3px ; border-radius: 100% ; 
    display: flex ; align-items: center ;
}
.recost_icons{
    background: radial-gradient(circle at 10px 8px, var(--color_29), var(--color_30));
    padding: 2px 2px ; margin: 0px 2px 0px 2px ; border-radius: 100% ; 
    display: flex ; align-items: center ; 
}
/*  */
.Card_ori{
    display: flex ; flex-direction: row ; justify-content: center ;
    width: 100% ; border: 2px outset var(--color_32) ; padding: 1px 8px ; margin: 3px 0px 2px 0px ;
}
.ori_p{
    font-size: 11px ; font-weight: 700 ; font-style: italic ; text-align: center ;
}
.ori_level,.ori_id{
    font-size: 13px ; font-weight: 600 ; font-style: normal ;
}

.Card_-info{
    display: flex ; flex-direction: row ; justify-content: space-between ;
    width: 100% ; margin: 1px 0px ; padding: 0px 4px ;
}
.info_illustrator,.info_creator, .info_end{
    font-size: 9px ;
}
.info_end{
    font-weight: 600 ; display: flex ; align-items: center ;
}
.info_illustrator{
    font-weight: 600 ;
}
.icon_end{
    margin: 0px 0px 0px 3px;
}

.C_C1{
    width: 100% ; display: flex ; flex-wrap: wrap ; justify-content: space-between; 
    margin: 20px 0px;
}
.C_btn{
    background: var(--color_04); border: none ; outline: none ; border-radius: 4px ; padding: 4px 8px ; 
    cursor: pointer ; 
    font-weight: 700 ;
    transition: background 600ms ease;
    margin: 0px 4px;
}
.C_btn:hover{
    background-color: var(--color_01);
    color: var(--color_09);
}
@media screen and (max-width:376px) {
    .Card_{
        min-height: 680px; width: 100%;
    }    
}